#### Create new Database and Table online

In [26]:
import pymysql
# database connection
db = pymysql.connect(user='admin',
                     password = '12345678',
                     host = 'database-1.ciaff8ckhmlj.us-west-2.rds.amazonaws.com')

#### preparing a cursor object

In [27]:
cursor = db.cursor()

#### Creating the first database

#### Display All Databases

In [29]:
cursor.execute("SHOW DATABASES")
for db in cursor:
    print(db)

('GlassdoorDataBase',)
('IndeedDataBase',)
('RECOVER_DATABASE_HSA',)
('datafromglassdoor',)
('datafromglassdoor1',)
('datafromglassdoor2',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

#### Connecting to Dataset after creating

In [30]:
db = pymysql.connect(user='admin',
                     password = '12345678',
                     host = 'database-1.ciaff8ckhmlj.us-west-2.rds.amazonaws.com',
                     database='datafromglassdoor2')

In [31]:
cursor = db.cursor()

#### Create new table named GlassdoorDataset

In [16]:
sql = '''
create table GlassdoorDataset2 (
JobId  nvarchar (50) , 
Source nvarchar (50) , 
CollectedDate date , 
JobTitle nvarchar (50) , 
CompanyName nvarchar (50)  ,
RatingNumber nvarchar (50)  ,
PostedDate nvarchar (50)  ,
Posted_Date_N date , 
Salary nvarchar (50)  ,
JobURL nvarchar (50) ,
fullJobDescribtion MEDIUMTEXT,
Size nvarchar (50),
Type_Of_Ownership nvarchar (50),
Sector nvarchar (50),
Founded nvarchar (50),
Industry nvarchar (50),
Revenue nvarchar (50)
)

'''
cursor.execute(sql)

0

#### Close the connection

In [32]:
cursor.close()

#### How many records are Duplicate?

In [32]:
def dup ():
    sql=''' SELECT JobId,count(JobId) FROM GlassdoorDataset2 GROUP BY JobId HAVING count(JobId) >=1;'''
    cursor.execute(sql)
    duplicate=cursor.fetchall()
    print(len(duplicate))

#### How many row in dataset ?

In [33]:
def count ():
    sql = '''SELECT COUNT(JobId)FROM GlassdoorDataset2 '''
    cursor.execute(sql)
    count = cursor.fetchall()
    print (count)

#### display all row and columns

In [34]:
def data_from_amazon():
    sql='''SELECT * FROM GlassdoorDataset2'''
    cursor.execute(sql)
    data = cursor.fetchall()
    return data

In [35]:
count()

((2268,),)

In [36]:
import pandas as pd
data=pd.DataFrame(data_from_amazon())
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1008266954603,Glassdoor,2022-11-09,Data Scientist,Creatura Consulting\n5.0,5.0,24h,2022-10-16,$45.00 - $75.00 Per Hour(Employer est.),https://www.glassdoor.com/partner/jobListing.h...,The ideal candidate's favorite words are learn...,1 to 50 Employees,Company - Private,N/A,N/A,N/A,Unknown / Non-Applicable
1,1008266055464,Glassdoor,2022-11-09,Jr. Data Scientist (Remote),RELX\n3.9,3.9,24h,2022-10-16,$54K - $77K (Glassdoor est.),https://www.glassdoor.com/partner/jobListing.h...,This position can be home-based anywhere in th...,10000+ Employees,Company - Public,Information Technology,1880,Information Technology Support Services,$10+ billion (USD)
2,1008259480518,Glassdoor,2022-11-09,Data Scientist- Coding Dojo Hiring Partner,CODING DOJO INC\n3.9,3.9,4d,2022-11-05,N/A,https://www.glassdoor.com/partner/jobListing.h...,Title: Data Scientist\nLocation: Remote\nType:...,51 to 200 Employees,Company - Private,Education,2013,Education & Training Services,$5 to $25 million (USD)
3,1008266830132,Glassdoor,2022-11-09,Data Scientist - REMOTE,John Deere\n4.1,4.1,24h,2022-10-16,$86K - $129K (Glassdoor est.),https://www.glassdoor.com/partner/jobListing.h...,There are over 7 billion people on this planet...,10000+ Employees,Company - Public,Manufacturing,1837,Machinery Manufacturing,$10+ billion (USD)
4,1008253713007,Glassdoor,2022-11-09,Junior Data Scientist,World Bank Group\n4.2,N/A,6d,2022-11-03,$70K - $108K (Glassdoor est.),https://www.glassdoor.com/partner/jobListing.h...,Job #:\nreq19774\n\nOrganization:\nWorld Bank\...,10000+ Employees,Nonprofit Organization,N/A,N/A,N/A,$1 to $5 billion (USD)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2263,1007751227553,Glassdoor,2022-11-14,Junior Data Scientist-Remote,Sabre Systems Inc.\n4.7,4.7,30d+,2022-10-15,N/A,https://www.glassdoor.com/partner/jobListing.h...,Responsibilities:\nThe NAVAIR Digital Group le...,201 to 500 Employees,Company - Private,Aerospace & Defense,1989,Aerospace & Defense,$25 to $100 million (USD)
2264,1008263900986,Glassdoor,2022-11-14,Associate Data Scientist,Abbott Laboratories\n3.8,3.8,6d,2022-11-08,$83K - $120K (Glassdoor est.),https://www.glassdoor.com/partner/jobListing.h...,Abbott is a global healthcare leader that help...,10000+ Employees,Company - Public,Healthcare,1888,Health Care Services & Hospitals,$10+ billion (USD)
2265,1008238407975,Glassdoor,2022-11-14,Data Scientist (100% Remote) PERM AMICA,Access to future,N/A,17d,2022-10-28,$110K - $115K (Employer est.),https://www.glassdoor.com/partner/jobListing.h...,Number of openings: 1\nSalary: $115k PERM (som...,Unknown,Company - Public,N/A,N/A,N/A,Unknown / Non-Applicable
2266,1008102598975,Glassdoor,2022-11-14,Data Scientist,CVS Health\n3.1,3.1,30d+,2022-10-15,$60K - $129K (Employer est.),https://www.glassdoor.com/partner/jobListing.h...,Description/Fundamental Components:\n\nDevelop...,10000+ Employees,Company - Public,Healthcare,1963,Health Care Services & Hospitals,$10+ billion (USD)
2267,1008275070634,Glassdoor,2022-11-14,Data Scientist (Experimentation),FocusKPI Inc.\n3.3,3.3,2d,2022-11-12,$98K - $140K (Glassdoor est.),https://www.glassdoor.com/partner/jobListing.h...,"FocusKPI, Inc. is looking for a Data Scientist...",51 to 200 Employees,Company - Private,Media & Communication,N/A,Advertising & Public Relations,Less than $1 million (USD)

In [37]:
data.rename({0:'JobId',1:'Source',2:'CollectedDate',3:'JobTitle',4:'CompanyName',5:'RatingNumber',6:'PostedDate',7:'Posted_Date_N',8:'Salary',9:'jobType',10:'JobURL',11:'fullJobDescribtion',12:'Size',13:'Type_Of_Ownership',14:'Sector',15:'Founded',16:'Industry',17:'Revenue'},inplace=True,axis=1)

In [11]:
data.head()

In [53]:
data.to_excel("orginal_data_from_glassdoor2.xlsx",index=True)